
:root{
  --primary: lightgrey;
  --secondary: lightblue;
  --accent1: lightgrey;
  --accent2: lightgrey;
  --accent3: lightgrey;
  --accent4: lightgrey;
  --accent5: lightgrey;
}

body{
  background-color: var(--primary);
  height: 100%;
}

.App{
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100%
}

.Navigation{
  background-color: var(--secondary);
  height: 100%;
}
