
:root{
  --primary: lightgrey;
  --secondary: lightblue;
  --accent1: lightgrey;
  --accent2: lightgrey;
  --accent3: lightgrey;
  --accent4: lightgrey;
  --accent5: lightgrey;
}

html, body, #root{
  background-color: var(--primary);
  height: 100vh;
}

.App{
  display: grid;
  grid-template-columns: .5fr 6fr;
  height: 100%;
}

.Navigation{
  background-color: var(--secondary);
  height: 97%%;
  box-shadow: 5px 0px 5px grey;
  padding: 5pt;
}

.NavIcon{
  margin:8pt;
}

.Main{
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-columns: repeat(12, 1fr);
  margin: 10pt
}

.Main div {
  grid-column: span 3;
  height: auto;
  background: white;
  box-shadow: 3px 3px 3px grey;
}

.Main div:nth-child(n + 5) {
  grid-column: span 4;
}

.Card{
  border-style: solid;
  border-color: lightgray;
  border-width: 1pt;
  margin: 10pt
}